/* General properties */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-org: #FF772B;
    --color-blk: #0D0D0D;
    --color-wht: #FFFFFF;
    --color-gr: #E7E7E7;
    --ff-vibes: 'Great Vibes', cursive;
}


/* Nav bar */

nav {
    width: 100%;
    height: auto;
    position: fixed;
}

/* Burger (mobile only) */

.burger {
    width: 3em;
    height: 3px;
    position: fixed;
    right: 2em;
    top: 2em;
  } 

.b-top {
    background-color: var(--color-blk);
    width: 3em;
    height: 3px;
    margin-bottom: .5em;
}

.b-bot {
    background-color: var(--color-blk);
    width: 1.5em;
    height: 3px;
    margin-left: auto;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu li {
    list-style: none;
    padding: .5em;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}


/* Home page */

.home_header {
    display: flex;
    text-align: center;
    padding: .5em;
    justify-content: center;

}

.cooks_foto {
    display: flex;
    justify-content: center;
}

.cooks_foto img {
    border-radius: 70%;
    height: 50vh;
}

/* Contact page */

.adress {
    font-size: 2em;
    width: 85%;
    margin: auto;
}

.adress p {
    padding: .2em;
}

/* Menu page */

.menu_item {
    width: 95%;
    padding: 1em;

}



/* About page */

.about {
    width: 90%;
    padding: 1em;
    line-height: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}